%div.row
  %a{href: "www.github.com/scoiatael"}
    %img.avatar.center{src: "https://avatars.githubusercontent.com/u/2892794?v=2"}
%div.row.center-text
  scoiatael @
  %a.icon{href:"https://twitter.com/medmapr"}
    %span.fa-stack.fa-lg
      %i.fa.fa-circle.fa-stack-2x
      %i.fa.fa-twitter.fa-stack-1x.fa-inverse
  %a.icon{href: "https://www.facebook.com/medmapr"}
    %span.fa-stack.fa-lg
      %i.fa.fa-circle.fa-stack-2x
      %i.fa.fa-facebook.fa-stack-1x.fa-inverse
